<h1><strong>Movies</strong> <%= @list.name %></h1>

<table>
  <tbody>
    <% @list.bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.movie.title %></td>
        <td><%= link_to 'Delete', bookmark_path(bookmark), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
